<%- include('../admin/layouts/header.ejs') %>
<%- include('../admin/layouts/sidebar.ejs') %>
<%- include('../admin/layouts/navbar.ejs') %>

<!-- Content for viewing products -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="category-filter">
      <label for="categoryFilter">Filter by Category:</label>
      <select id="categoryFilter" name="category">
        <option value="">All Categories</option>
        <% category.forEach(category => { %>
          <option value="<%= category.categoryName %>"><%= category.categoryName %></option>
        <% }); %>
      </select>
    </div>

    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="mb-5">
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <div class="nav-link mt-2 mt-md-0 col-12 d-lg-flex search">
                  <input type="text" id="searchInput" class="form-control mb-1 text-light" placeholder="Search Products">
                </div>
              </li>
            </ul>
          </div>
          <h2 class="card-title">PRODUCTS</h2>

          <!-- Display the list of products -->
          <div class="table-responsive">
          <table class="table" id="product-table">
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Description</th>
                <th>Images</th>
                <th>Size</th>
                <th> Offer </th>
                <th> </th>
                <th> Edit </th>
                <th> Action </th>
              </tr>
            </thead>
            <tbody>
              <% data.forEach(data => { %>
                <tr data-product-id="<%= data._id %>">
                  <td><%= data.productName %></td>
                  <td><%= data.category.categoryName %></td>
                  <td><div><%= data.price %> <br>
                  offerPrice:<%= data.discountedPrice %></div></td>
                  <td><%= data.quantity %></td>
                  <td class="description-cell">
                    <div class="description-content">
                      <%= data.description %>
                    </div>
                    <button class="toggle-description">Show More</button>
                </td>
                  <td>
                    <% data.images.forEach(image => { %>
                      <img src="/public/adminAssets/assets/images/products/<%= image %>" alt="<%= data.productName %>">
                    <% }); %>
                  </td>
                  <td><%= data.size %></td>
                  <td> <% if( data.offer ){%><%= data.offer.name %>( <%= data.offer.percentage %>% )<%} else { %>No offers<% }%></td>
                  <td> 
                    <% if ( data.offer ){%>
                      
                      <button onclick="removeOffer('<%= data._id %>')" class="btn btn-warning"> Remove offer </button>
                    <% } else {%>
                      <button class="btn btn-info" onclick="showModal('<%= data._id %>')"> Apply offer </button>
                    <% }%>
                  </td>
                  <td> <a href="/admin/edit_product?id=<%= data._id%>">
                 
                      Edit <i class="mdi mdi-file-check btn-icon-append"></i>
                    
                  </a></td>
                  <td><% if (data.status === false) { %>
                    <a href="/admin/unlist_product?id=<%= data._id %>">
                      <button type="button" class="btn btn-inverse-success btn-fw">
                        List
                      </button>
                    </a>
                  <% } else { %>
                    <a href="/admin/unlist_product?id=<%= data._id %>">
                      <button type="button" class="btn btn-inverse-danger btn-fw">
                        Unlist
                      </button>
                    </a>
                  <% } %></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
          </div>
        </div>

        <div class="modal fade" id="discountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            
            <% if( availableOffers && availableOffers.length > 0) { %>
              <% for( offer of availableOffers ) { %>
      
                  <div class="modal-content rounded-0">
                    <div data-offerid="<%= offer._id %>" style="cursor: pointer;" class="modal-body text-center">
                          <div class="icon text-danger">
                              <i style="font-size: 20px;" class="fas fa-gift"></i>
                          </div>
                          <div class="notice">  
                                  <h2><%= offer.name %></h2>                          
                                  <h4><%= offer.percentage %>% Discount</h4>
                              <p>Valid from <%= offer.startingDate.toLocaleDateString('en-US', { year: 'numeric' ,
                                month: 'short' , day: '2-digit' }).replace(/\//g,'-') %> to <%= offer.expiryDate.toLocaleDateString('en-US', { year: 'numeric' ,
                                month: 'short' , day: '2-digit' }).replace(/\//g,'-') %> </p>
                          </div>
                          <div class="code"></div>
                      </div>
                  </div>
              <% } %>
              <% } %>
          </div>
        </div>

        <div class="pagination" style="display: flex; justify-content: center;">
          <% if (currentPage > 1) { %>
            <a href="/admin/view_products?page=<%= currentPage - 1 %>" class="page-link">Previous</a>
          <% } %>
          <% for (let i = 1; i <= totalPages; i++) { %>
            <a href="/admin/view_products?page=<%= i %>" class="page-link"><%= i %></a>
          <% } %>
          <% if (currentPage < totalPages) { %>
            <a href="/admin/view_products?page=<%= currentPage + 1 %>" class="page-link">Next</a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>


<style>

  .description-cell .description-content {
max-width: 200px; /* Adjust the value as per your preference */
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.description-cell.collapsed .description-content {
max-width: none;
white-space: normal;
overflow: visible;
text-overflow: clip;
}

.description-cell .toggle-description {
background: none;
border: none;
margin-top: 8px;
color: rgb(97, 255, 108);
cursor: pointer;
padding: 0;
}

</style>






<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    const $productTable = $('#product-table');
    const $searchInput = $('#searchInput');
    
    $('#categoryFilter').change(function () {
      filterProducts();
    });

    // Function to filter products based on search and category
    function filterProducts() {
      const selectedCategory = $('#categoryFilter').val().toLowerCase();
      const searchText = $searchInput.val().toLowerCase();

      $productTable.find('tbody tr').each(function () {
        const row = $(this);
        const category = row.find('td:eq(1)').text().toLowerCase();
        const cellText = row.text().toLowerCase();
        const matchCategory = selectedCategory === '' || category === selectedCategory;
        const matchSearch = searchText === '' || cellText.includes(searchText);

        if (matchCategory && matchSearch) {
          row.show();
        } else {
          row.hide();
        }
      });
    }

     // Function to confirm the action using SweetAlert
     function confirmAction(action, productName, productId) {
      Swal.fire({
        title: `Confirm ${action} `,
        text: `Are you sure you want to ${action} the product "${productName}"?`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: `Yes, ${action}`,
        cancelButtonText: 'Cancel',
      }).then((result) => {
        if (result.isConfirmed) {
          // Determine the appropriate action URL based on the action
          const actionUrl = action === 'List' ? 'unlist_product' : 'unlist_product';
          // Redirect to the correct URL for the action
          window.location.href = `/admin/${actionUrl}?id=${productId}`;
        }
      });
    }

    // Add event listeners to your action buttons
    $productTable.find('td button').on('click', function () {
      const action = $(this).text().trim();
      const productName = $(this).closest('tr').find('td:eq(0)').text().trim();
      const productId = $(this).closest('tr').find('a').attr('href').split('=')[1]; // Extract product ID from the URL

      if (action === 'List' || action === 'Unlist') {
        confirmAction(action, productName, productId);
      }
      return false; // Prevent the default click behavior
    });



    // Listen for input changes in the search bar
    $searchInput.on('input', function () {
      filterProducts();
    });

    // Initialize filter when the page loads
    filterProducts();
  });
</script>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

  function showModal(productId) {
        $('#discountModal').modal('show');
        const offerElements = document.querySelectorAll('.modal-body.text-center');
        offerElements.forEach((element) => {
            element.onclick = function() {
                const offerId = this.getAttribute('data-offerid');
                enterOffer(offerId, productId); 
            };
        });
    }

    async function enterOffer(offerId, productId) {
      $('#discountModal').modal('hide');
        const response = await axios.patch( '/admin/apply_offer', { offerId, productId })
        if( response.data.success ) {
          
          Swal.fire('Offer applied')
          updateOfferContent(productId, response.data.offer)
          window.location.reload()
        }else{
          Swal.fire('Category offer has greater discount')
        }
    }

    async function removeOffer(productId) {
  try {
    const confirmation = await Swal.fire({
      title: 'Confirm Removal',
      text: 'Are you sure you want to remove the offer?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, remove it!',
      cancelButtonText: 'Cancel'
    });

    if (confirmation.isConfirmed) {
      const response = await axios.patch('/admin/remove_offer', { productId });
      if (response.data.success) {
        updateOfferContent(productId, null);
        Swal.fire('Offer Removed', '', 'success');
        window.location.reload()
      }
    }
  } catch (error) {
    console.log(error.message);
  }
}

    function updateOfferContent(productId, offer) {
  const offerCell = $(`tr[data-product-id="${productId}"] td:nth-child(8)`); // Update to the correct column index
  const actionCell = $(`tr[data-product-id="${productId}"] td:nth-child(9)`);

  if (offer) {
    offerCell.html(`${offer.name} (${offer.percentage}%)`);
    actionCell.html(`<button onclick="removeOffer('${productId}')" class="btn btn-warning">Remove offer</button>`);
  } else {
    offerCell.text('No offers');
    actionCell.html(`<button class="btn btn-info" onclick="showModal('${productId}')">Apply offer</button>`);
  }

  // const offerPriceCell = $(`tr[data-product-id="${productId}"] td:nth-child(3)`); // Update to the correct column index
  // const originalPrice = parseFloat($(`tr[data-product-id="${productId}"] td:nth-child(2)`).text().trim());
  // offerPriceCell.html(originalPrice);
}
</script>

<script>
  // Get all toggle buttons
const toggleButtons = document.querySelectorAll('.toggle-description');
const toggleDelete = document.getElementById('delete')

// Add event listener to each toggle button
toggleButtons.forEach((button) => {
button.addEventListener('click', function () {
  // Find the parent description cell
  const descriptionCell = this.closest('.description-cell');

  // Toggle the 'collapsed' class on the description cell
  descriptionCell.classList.toggle('collapsed');

  // Update the button text
  if (descriptionCell.classList.contains('collapsed')) {
    this.textContent = 'Show less';
  } else {
    this.textContent = 'Show more';
  }
});
});

</script>

<%- include('../admin/layouts/footer.ejs') %>
