<%- include('../userMainlayouts/mainheader.ejs') %>

<form class="bg0 p-t-75 p-b-85">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 m-lr-auto m-b-50">
                <div class="m-l-25 m-r-25 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <table class="table-shopping-cart" style="width: 100%; overflow-x: auto;">
                            <tr class="table_head">
                                <th class="column-1">Product</th>
                                <th class="column-2"></th>
                                <th class="column-3">Price</th>
                                <th class="column-4">Quantity</th>
                                <th class="column-5">Total</th>
                                <th class="column-6">Action</th>
                            </tr>
                            <% if (products && products.items.length > 0) { %>
                                <% products.items.forEach((item, i) => { %>
                                    <tr class="table_row">
                                        <td class="column-1">
                                            <div class="how-itemcart1">
                                                <img src="/public/adminAssets/assets/images/products/<%= item.product_Id.images[0] %>" alt="Product Image">
                                            </div>
                                        </td>
                                        <td class="column-2"><%= item.product_Id.productName %></td>
                                        <td class="column-3">$<%= item.product_Id.price %></td>
                                        <td class="column-4">
                                            <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                                <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-minus" onclick="updateQuantity('<%= item.product_Id._id %>', -1, '<%= i %>')"></i>
                                                </div>
                                                <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product<%= i %>" value="<%= item.quantity %>" readonly data-productid="<%= item.product_Id._id %>">
                                                <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-plus" onclick="updateQuantity('<%= item.product_Id._id %>', 1, '<%= i %>')"></i>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="column-5">$<%= item.total %></td>
                                        <td class="column-6">
                                            <a class="btn btn-danger" href="/CartRemove?id=<%= item.product_Id._id %>&price=<%= item.total %>">Remove</a>
                                        </td>
                                    </tr>
                                <% }); %>
                            <% } else { %>
                                <tr class="table_row">
                                    <td class="column-1" colspan="6">
                                        <h1>Your Cart is Empty</h1>
                                        <p>Add items to your cart to see them here.</p>
                                    </td>
                                </tr>
                            <% } %>
                        </table>
                    </div>
                    <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                        <div class="flex-w flex-m m-r-20 m-tb-5">
                            <input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Coupon Code">
                            <div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                                Apply coupon
                            </div>
                        </div>
                        <div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10" onclick="updateCart()">
                            Update Cart
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 m-lr-auto m-b-50">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-63 m-lr-0-xl p-lr-15-sm">
                    <h4 class="mtext-109 cl2 p-b-30">
                        Cart Totals
                    </h4>
                    <div class="flex-w flex-t bor12 p-b-13">
                        <div class="size-208">
                            <span class="stext-110 cl2">
                                Subtotal:
                            </span>
                        </div>
                        <div class="size-209" id="totalPrice">
                            <span class="mtext-110 cl2">$<%= products.totalPrice %></span>
                        </div>
                    </div>
                    <div class="flex-w flex-t p-t-27 p-b-33">
                        <div class="size-208">
                            <span class="mtext-101 cl2">
                                Total:
                            </span>
                        </div>
                        <div class="size-209 p-t-1">
                            <span class="mtext-110 cl2">$<%= products.totalPrice %></span>
                        </div>
                    </div>
                    <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                        Proceed to Checkout
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    // Function to update the quantity of an item
    function updateQuantity(productId, change, index) {
      // Get the current quantity input field
      const quantityInput = document.querySelector(`[name="num-product${index}"]`);
      let newQuantity = parseInt(quantityInput.value) + change;
  
      // Ensure the quantity doesn't go below 1
      newQuantity = Math.max(1, newQuantity);
  
      // Update the quantity input field
      quantityInput.value = newQuantity;
  
      // Make an AJAX request to update the quantity on the server
      fetch(`/update_quantity/${productId}/${newQuantity}`, {
        method: 'PUT',
      })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            // Update the total price displayed in the table
            const totalElement = document.querySelector(`.column-5:nth-child(${index + 1})`);
            totalElement.textContent = `$${data.cart.items[index].total}`;
  
            // Update the total price at the bottom of the table
            const totalPriceElement = document.getElementById('totalPrice');
            totalPriceElement.textContent = `$${data.cart.totalPrice}`;
          } else {
            alert(data.message);
          }
        })
        .catch(error => {
          console.error(error);
          alert('An error occurred while updating the quantity.');
        });
    }
  
    // Function to update the cart when the "Update Cart" button is clicked
    function updateCart() {
      // Make an AJAX request to update the cart on the server
      fetch('/update_cart', {
        method: 'PUT',
      })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            // Update the total price displayed in the table
            const totalPriceElement = document.getElementById('totalPrice');
            totalPriceElement.textContent = `$${data.cart.totalPrice}`;
          } else {
            alert(data.message);
          }
        })
        .catch(error => {
          console.error(error);
          alert('An error occurred while updating the cart.');
        });
    }
  </script>
  

<%- include('../userMainlayouts/mainfooter.ejs') %>
