<%- include('../userMainlayouts/mainheader.ejs') %>

<br><br><br>
<section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w">
                        </div>

                        <div class="slick3 gallery-lb">
                            <% product.images.forEach((image) => { %>
                            <div class="item-slick3" data-thumb="/public/adminAssets/assets/images/products/<%= image %>">
                                <div class="wrap-pic-w pos-relative main-image-<%= product.images.indexOf(image) %>">
                                    <div class="zoom-container">
                                        <img id="main-img-<%= product.images.indexOf(image) %>" src="/public/adminAssets/assets/images/products/<%= image %>" style="width: 100%; height: auto; max-height: 400px; object-fit: contain;">
                                        <div class="xzoom-gallery">
                                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/public/adminAssets/assets/images/products/<%= image %>">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-5">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <!-- Product Name -->
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        <%= product.productName %>
                    </h4>

                    <!-- Product Category -->
                    <span class="mtext-106 cl2">
                        Category: <%= product.category.categoryName %>
                    </span>

                    <!-- Product Price -->
                    <p class="stext-102 cl3 p-t-23">
                    <% if(product.offer && product.offer.percentage>0){%>
                       
                        <span class="stext-105 cl3 ">
                          Price:<del>₹<%= product.price %> </del>  
                        </span>
                        <span class="stext-105 cl3 ">
                        <p> Offer Price: <p class="text-danger">  ₹<%= product.discountedPrice %>   </p></p>
                        </span>
                    </div>
                   <% }else{%>
                    <p class="stext-102 cl3 p-t-23">
                        Price: ₹<%= product.price %>
                    </p>
                  <% }%>
                </p>
                    <!-- Product Quantity -->
                    <p class="stext-102 cl3 p-t-15">
                        Quantity: <%= product.quantity %>
                    </p>

                    <!-- Product Description -->
                    <p class="stext-102 cl3 p-t-23">
                        Description: <%= product.description %>
                    </p>

                    <!-- Product Size -->
                    <p class="stext-102 cl3 p-t-23">
                        Size: <%= product.size %>
                    </p>

                    <div class="flex-w flex-r-m p-b-10">
                        <div class="size-204 flex-w flex-m respon6-next">
                            <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                    <i id="decrease-<%= product._id %>" class="fs-16 zmdi zmdi-minus" data-product-id="<%= product._id %>"></i>
                                </div>

                                <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1" data-quantity="1" data-max-quantity="<%= product.quantity %>" readonly>

                                <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                    <i id="increase-<%= product._id %>" class="fs-16 zmdi zmdi-plus" data-product-id="<%= product._id %>"></i>
                                </div>
                            </div>

                            <div class="d-flex">
                                <% if (product.quantity > 0) { %>
                                <button class="flex-c-m stext-101 mx-3 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 add-to-cart-button"
                                data-product-id="<%= product._id %>"
                                data-quantity="1"> 
                                
                                    Add to Cart
                               
                               
                            </button>
                            <% } else { %>
                                <button class="flex-c-m stext-101 mx-3 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 ">
                            Out Of !!Stock
                            <% } %>
                        </button>
                                <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 add-to-wishlist-button"
                                    data-product-id="<%= product._id %>">
                                    Add to wishlist
                                </button>
                            </div>
                        </div>
                    </div>

                    <!--  -->
                    <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                        <div class="flex-m bor9 p-r-10 m-r-11">
                            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100"
                                data-tooltip="Add to Wishlist">
                                <i class="zmdi zmdi-favorite"></i>
                            </a>
                        </div>

                        <a href="#"
                            class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                            data-tooltip="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#"
                            class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                            data-tooltip="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>

                        <a href="#"
                            class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                            data-tooltip="Google Plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="bor10 m-t-50 p-t-43 p-b-40">
    <!-- Tab01 -->
    <div class="tab01">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item p-b-10">
                <% if (reviews) { %>
                <a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews <%= reviews.length %></a>
                <% } %>
            </li>
        </ul>

    
            <!-- - -->
            <div class="tab-pane fade" id="reviews" role="tabpanel">
                <div class="row">
                    <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
                        <div class="p-b-30 m-lr-15-sm">
                            <!-- Review -->
                            <div class="product-reviews">
                                <% if (reviews && reviews.length > 0) { %>
                                    <% reviews.forEach(review => { %>
                                        <div class="flex-w flex-t p-b-68">
                                            <div class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-t-6">
												<img src="/public/userAssets/images/avatar-2.jpg" alt="AVATAR">
											</div>
                            
                                            <div class="size-207">
                                                <div class="flex-w flex-sb-m p-b-17">
                                                    <!-- Display user name -->
                                                    <span class="mtext-107 cl2 p-r-20">
                                                        <%= review.user.firstName %>&nbsp;<%= review.user.lastName %>
                                                    </span>
                            
                                                    <!-- Display star rating -->
                                                    <span class="fs-18 cl11">
                                                        <% for (let i = 1; i <= 5; i++) { %>
                                                            <% if (i <= review.rating) { %>
                                                                <i class="zmdi zmdi-star"></i>
                                                            <% } else { %>
                                                                <i class="zmdi zmdi-star-outline"></i>
                                                            <% } %>
                                                        <% } %>
                                                    </span>
                                                </div>
                            
                                                <!-- Display review text -->
                                                <p class="stext-102 cl6">
                                                    <%= review.comment %>
                                                </p>
                                            </div>
                                        </div>
                                    <% }) %>
                                <% } else { %>
                                    <p class="text-center">No reviews for this product.</p>
                                <% } %>
                                <% if (userReviews && userReviews.length > 0) { %>
                                    <div class="tab01">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item p-b-10">
                                                <a class="nav-link" data-toggle="tab1" href="#reviews" role="tab"> My Reviews </a>
                                            </li>
                                        </ul>
                                    
                                    <ul>
                                        <% userReviews.forEach(userReview => { %>
                                            <li>
                                                <div class="flex-w flex-t p-b-68">
                                                    <div class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-t-6">
                                                        <img src="/public/userAssets/images/avatar-2.jpg" alt="AVATAR">
                                                    </div>
                                
                                                    <div class="size-207">
                                                        <div class="flex-w flex-sb-m p-b-17">
                                                            <!-- Display user name -->
                                                            <span class="mtext-107 cl2 p-r-20">
                                                                <%= userReview.user.firstName %>&nbsp;<%= userReview.user.lastName %>
                                                            </span>
                                
                                                            <!-- Display star rating -->
                                                            <span class="fs-18 cl11">
                                                                <% for (let i = 1; i <= 5; i++) { %>
                                                                    <% if (i <= userReview.rating) { %>
                                                                        <i class="zmdi zmdi-star"></i>
                                                                    <% } else { %>
                                                                        <i class="zmdi zmdi-star-outline"></i>
                                                                    <% } %>
                                                                <% } %>
                                                            </span>
                                                        </div>
                                
                                                        <!-- Display review text -->
                                                        <p class="stext-102 cl6">
                                                            <%= userReview.comment %>
                                                        </p>
                                                    </div>
                                                    <a href="javascript:void(0);" class="edit-link" onclick="openEditReviewModal('<%= userReview._id %>', '<%= userReview.rating %>', '<%= userReview.comment %>')">Edit</a>
                                                </div>
                                            </li>
                                        <% }) %>
                                    </ul>
                                    </div>
                                <% } else { %>
                                    <p>No reviews submitted by you.</p>
                                <% } %>
                            </div>
                            
                            <!-- Add review -->
                            <form class="w-full" id="reviewForm">
                                <h5 class="mtext-108 cl2 p-b-7">
                                    Add a review
                                </h5>
                                <input type="hidden" id="productId" name="productId" value="<%= product._id %>">
                                <input type="hidden" id="userId" name="userId" value="<%= userId %>">
                                <p class="stext-102 cl6">
                                    Your email address will not be published. Required fields are marked *
                                </p>
                                    <div class="flex-w flex-m p-t-5 p-b-23">
                                        <span class="stext-102 cl3 m-r-16">
                                            Your Rating
                                        </span>

                                        <span class="wrap-rating fs-18 cl11 pointer">
                                            <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                            <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                            <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                            <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                            <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                            <input class="dis-none" type="number" name="rating">
                                        </span>
                                </div>

                                <div class="row p-b-25">
                                    <div class="col-12 p-b-5">
                                        <label class="stext-102 cl3" for="review">Your review</label>
                                        <textarea class="size-110 bor8 stext-102 cl2 p-lr-20 p-tb-10" id="review" name="review"></textarea>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="flex-c-m stext-101 cl0 size-112 bg7 bor11 hov-btn3 p-lr-15 trans-04 m-b-10 submit-review-button">
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Rest of your code... -->
<div class="modal fade" id="editReviewModal" tabindex="-1" role="dialog" aria-labelledby="editReviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-content-centered">
            <div class="modal-header">
                <h5 class="modal-title" id="editReviewModalLabel">Edit Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-t-27">
                <form class="w-full" id="editReviewForm">
                    <!-- Add hidden input fields for review ID and product ID -->
                    <input type="hidden" id="editReviewId" name="reviewId">
                    <input type="hidden" id="editProductId" name="productId" value="<%= product._id %>">
                    <input type="hidden" id="editUserId" name="userId" value="<%= userId %>">
                    
                    <!-- Rating -->
                    <div class="flex-w flex-m p-t-5 p-b-23">
                        <span class="stext-102 cl3 m-r-16">
                            Your Rating
                        </span>
                        <span class="wrap-rating fs-18 cl11 pointer" id="editRatingStars">
                            <!-- Rating stars will be dynamically generated here -->
                        </span>
                        <input class="dis-none" type="number" name="rating" id="editRatingInput">
                    </div>

                    <!-- Review Textarea -->
                    <div class="row p-b-25">
                        <div class="col-12 p-b-5">
                            <label class="stext-102 cl3" for="editReview">Your review</label>
                            <textarea class="size-110 bor8 stext-102 cl2 p-lr-20 p-tb-10" id="editReview" name="editReview"></textarea>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="col-12">
                        <button type="button" class="flex-c-m stext-101 cl0 size-112 bg7 bor11 hov-btn3 p-lr-15 trans-04 m-b-10 submit-review-button" onclick="submitEditReview()">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-dialog-centered {
        display: flex;
        align-items: center;
        min-height: calc(100% - 1rem);
    }

    .modal-content-centered {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        overflow: auto;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- Add this script to your HTML, preferably right before the closing </body> tag -->
<script>
    $(function () {
        $(".xzoom, .xzoom-gallery").xzoom({
            zoomWidth: 400,
            tint: "#333",
            Xoffset: 15,
        })
    })
</script>
<style>
    /* Additional styling for the image thumbnails */
    .product-image-thumbnail {
        width: 50px;
        height: 50px;
    }

    
</style>

<script>
    // Function to add a product to the cart
    const addToCart = async (productId) => {
        try {
            // You can include product quantity logic here, if needed
            const productQuantity = 1
            const response = await axios.post('/cart', {
                product_Id: productId,
                quantity: productQuantity,
            });

            if (response.data && response.data.count) {
               
                Swal.fire("Product added to Cart")
                console.log('Cart count:', response.data.cartCount);
                $('.js-show-cart').attr('data-notify', response.data.cartCount);
                // You can add a success message or other actions here
            } else if (response.data && response.data.limit) {
                
                Swal.fire("Limit Exceeded")
                // Handle the case where the limit is exceeded
            } else {
                // Redirect to the login page or handle as needed
                window.location = '/login';
            }
        } catch (error) {
            console.log(error.message);
        }
    }

    // Add a click event listener to the "Add to Cart" button
    document.querySelectorAll('.add-to-cart-button').forEach(button => {
        button.addEventListener('click', (event) => {
            
            const productId = event.target.getAttribute('data-product-id');
            addToCart(productId);
        });
    });
</script>

<script>
    // Add event listeners for quantity increase and decrease
    document.querySelectorAll('.btn-num-product-up, .btn-num-product-down').forEach(button => {
        button.addEventListener('click', (event) => {
            const productId = event.target.getAttribute('data-product-id');
            const quantityInput = document.querySelector(`input[data-quantity][data-product-id="${productId}"]`);
            const maxQuantity = quantityInput.getAttribute('data-max-quantity');
            let currentQuantity = parseInt(quantityInput.value);

            if (event.target.id.startsWith('increase-')) {
                // Increase quantity
                if (currentQuantity < maxQuantity) {
                    currentQuantity++;
                }
            } else if (event.target.id.startsWith('decrease-')) {
                // Decrease quantity
                if (currentQuantity > 1) {
                    currentQuantity--;
                }
            }

            quantityInput.value = currentQuantity;
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.body.addEventListener('click', (event) => {
            if (event.target.matches('.add-to-wishlist-button')) {
                const productId = event.target.getAttribute('data-product-id');
                addToWishlist(productId);
            }
        });

        function addToWishlist(productId) {
            // Send a request to your server to add the product to the wishlist
            fetch('/wish_list?id=' + productId, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ id: productId }),
            })
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Network response was not ok: ' + response.statusText);
                })
                .then((data) => {
                    if (data.success) {
                        // Product added to the wishlist successfully
                        // You can update your UI or show a success message to the user here
                        Swal.fire('Product added to your wishlist!');
                    } else {
                        // Handle errors, e.g., show an error message to the user
                        Swal.fire('Already added the product to your wishlist.');
                    }
                })
                .catch((error) => {
                    console.error('There was a problem with the fetch operation:', error);
                    // Show an error message to the user
                    Swal.fire('An error occurred while adding the product to your wishlist.');
                });
        }
    });
</script>

<script>
    // document.addEventListener('DOMContentLoaded', function () {
    //     document.body.addEventListener('click', (event) => {
    //         if (event.target.matches('.submit-review-button')) {
    //             const rating = document.querySelector('input[name="rating"]:checked');
    //             const comment = document.getElementById('review').value;
    //             const name = document.getElementById('name').value;
    //             const email = document.getElementById('email').value;

    //             if (!rating || rating.value < 1 || rating.value > 5) {
    //                 // Show an error message for invalid rating
    //                 Swal.fire('Invalid rating. Please select a rating between 1 and 5.');
    //                 return;
    //             }

    //             // You can proceed with submitting the review
    //             const formData = {
    //                 productId: '<%= product._id %>',
    //                 rating: rating.value,
    //                 comment: comment,
    //                 name: name,
    //                 email: email
    //             };

    //             // Use Axios to send the data to the server
    //             axios.post('/submit_review', formData)
    //                 .then((response) => {
    //                     if (response.data.success) {
    //                         // Show a success message or update UI
    //                         Swal.fire('Review submitted successfully!');
    //                     } else {
    //                         // Show an error message
    //                         Swal.fire('Error submitting the review. Please try again.');
    //                     }
    //                 })
    //                 .catch((error) => {
    //                     console.error('Error submitting the review:', error);
    //                     // Show an error message
    //                     Swal.fire('An error occurred while submitting the review.');
    //                 });
    //         }
    //     });
    // });
</script>

<script>
    // Wait for the DOM to be ready
    $(document).ready(function () {
        // Variable to store the selected rating
        let selectedRating;

        // Add click event listeners to the star icons
        $('.item-rating').click(function () {
            // Set the value of the selected rating variable
            selectedRating = $(this).index() + 1;

            // Log the selected rating to the console for debugging
            console.log('Selected Rating: ' + selectedRating);

            // Remove the "zmdi-star-outline" class from all stars before the selected one
            $('.item-rating:lt(' + selectedRating + ')').removeClass('zmdi-star-outline');

            // Add the "zmdi-star-outline" class to all stars after the selected one
            $('.item-rating:gt(' + (selectedRating - 1) + ')').addClass('zmdi-star-outline');
        });

        // Add an event listener to the form submission
        $('#reviewForm').submit(function (event) {
            // Prevent the default form submission
            event.preventDefault();

            // Validate the rating
            if (!selectedRating) {
                Swal.fire('Please select a rating.');
                return;
            }

            // Get other form data
            const reviewText = $('#review').val();
          

            // Validate other fields if needed
            const userId = $('#userId').val();
            // Get the product ID dynamically (replace this with the actual way you retrieve the product ID)
            const productId = $('#productId').val(); // Assuming you have an input with id "productId"

            // Prepare data for submission
            const formData = {
                productId: productId,
                rating: selectedRating,
                comment: reviewText,
                userId: userId,
            };

            // Log the form data to the console for debugging
            console.log(formData);

            // Uncomment the following line to make sure the rating is being set correctly
            // alert('Selected Rating: ' + selectedRating);

            // Send the data to the server using AJAX (Assuming you have included jQuery)
            $.ajax({
                type: 'POST',
                url: '/submit_review', // Replace with your actual endpoint
                data: formData,
                success: function (response) {
                    // Handle the success response
                    if (response.success) {
                        Swal.fire('Success', response.message, 'success');
                    } else {
                        Swal.fire('Error', response.message, 'error');
                    }
                },
                error: function (xhr, status, error) {
                    // Handle the error response
                    console.error(xhr.responseText);
                    Swal.fire('Error', 'Internal server error', 'error');
                },
            });
        });
    });
</script>




<!-- Add this script to your HTML, preferably right before the closing </body> tag -->
<script>
  window.submitEditReview = function () {
    const reviewId = $('#editReviewId').val();
    const rating = $('#editRatingInput').val();
    const comment = $('#editReview').val();
    const userId = $('#editUserId').val();
    const productId = $('#editProductId').val();

    const formData = {
        reviewId: reviewId,
        productId: productId,
        rating: rating,
        comment: comment,
        userId: userId,
    };

    $.ajax({
        type: 'POST',
        url: '/edit_review',
        data: formData,
        success: function (response) {
            if (response.success) {
                Swal.fire('Success', response.message, 'success');
                
                // Update the review in the DOM
                const reviewContainer = $(`#reviews .product-reviews`);
                const editedReview = reviewContainer.find(`[data-review-id="${reviewId}"]`);

                if (editedReview.length > 0) {
                    // Update the rating and comment in the existing review
                    editedReview.find('.fs-18.cl11').html(generateStarIcons(rating));
                    editedReview.find('.stext-102.cl6').html(comment);
                }
                
                // Close the modal
                $('#editReviewModal').modal('hide');
            } else {
                Swal.fire('Error', response.message, 'error');
            }
        },
        error: function (xhr, status, error) {
            console.error(xhr.responseText);
            Swal.fire('Error', 'Internal server error', 'error');
        },
    });
};

// Function to generate star icons based on the rating
function generateStarIcons(rating) {
    let starIcons = '';
    for (let i = 1; i <= 5; i++) {
        starIcons += `<i class="zmdi ${i <= rating ? 'zmdi-star' : 'zmdi-star-outline'}"></i>`;
    }
    return starIcons;
}

</script>

<script>
    function openEditReviewModal(reviewId, rating, comment) {
        // Populate modal fields with existing review data
        $('#editReviewId').val(reviewId);
        $('#editRatingInput').val(rating);

        const starsContainer = $('#editRatingStars');
        starsContainer.html('');

        for (let i = 1; i <= 5; i++) {
            const star = $(`<i class="item-rating pointer zmdi ${i <= rating ? 'zmdi-star' : 'zmdi-star-outline'}"></i>`);

            // Add a click event listener to each star
            star.click(() => {
                $('#editRatingInput').val(i);
                updateStars(i, starsContainer);
            });

            starsContainer.append(star);
        }

        $('#editReview').val(comment);

        $('#editReviewModal').modal('show');
    }

    function updateStars(selectedRating, starsContainer) {
        starsContainer.children().each((index, starIcon) => {
            starIcon = $(starIcon);
            starIcon.removeClass('zmdi-star-outline zmdi-star');

            if (index + 1 <= selectedRating) {
                starIcon.addClass('zmdi-star');
            } else {
                starIcon.addClass('zmdi-star-outline');
            }
        });
    }
</script>

<script src="/public/userAssets/js/zoom.js"></script>

<%- include('../userMainlayouts/mainfooter.ejs') %>
