<%- include('../userMainlayouts/mainheader.ejs') %>

<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <div>
            <br>
            <br>
        </div>

        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 filter-button category-*">
                    All Products
                </button>
                <% category.forEach(function(cat) { %>
                    <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 filter-button" data-filter=".category-<%= cat.categoryName %>">
                        <%= cat.categoryName %>
                    </button>
                <% }); %>
            </div>

            <div class="flex-w flex-c-m m-tb-10">
                <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                    <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                    <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Filter
                </div>

                <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                    <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                    <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Search
                </div>
            </div>

            <!-- Search product -->
            <div class="dis-none panel-search w-full p-t-10 p-b-15">
                <div class="bor8 dis-flex p-l-15">
                    <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                        <i class="zmdi zmdi-search"></i>
                    </button>

                    <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
                </div>
            </div>

            <!-- Filter -->
            <div class="dis-none panel-filter w-full p-t-10">
                <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                    <div class="filter-col1 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Sort By
                        </div>
                        <ul>
                            <li class="p-b-6">
                                <a href="/products?sort=default" class="stext-106 trans-04 sort-link">
                                    Default
                                </a>
                            </li>
                            <li class="p-b-6">
                                <a href="/products?sort=averageRating" class="stext-106 trans-04 sort-link">
                                    Average rating
                                </a>
                            </li>
                            <li class="p-b-6">
                                <a href="/products?sort=priceLowToHigh" class=" stext-106 trans-04 sort-link">
                                    Price: Low to High
                                </a>
                            </li>
                            <li class="p-b-6">
                                <a href="/products?sort=priceHighToLow" class=" stext-106 trans-04 sort-link">
                                    Price: High to Low
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="filter-col2 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Price
                        </div>
                        <ul>
                            <li class="p-b-6">
                                <a href="/product" class=" stext-106 trans-04">
                                    All
                                </a>
                            </li>
                            <li class="p-b-6">
                                <a href="/product?minPrice=0&maxPrice=500" class="filter-link stext-106 trans-04" data-minprice="0" data-maxprice="500">
                                    ₹0.00 - ₹500.00
                                </a>
                            </li>
                            <li class="p-b-6">
                                <a href="/product?minPrice=500&maxPrice=1000" class="filter-link stext-106 trans-04" data-minprice="500" data-maxprice="1000">
                                    ₹500.00 - ₹1000.00
                                </a>
                            </li>
                            <li class="p-b-6">
                                <a href="/product?minPrice=1000&maxPrice=1500" class="filter-link stext-106 trans-04" data-minprice="1000" data-maxprice="1500">
                                    ₹1000.00 - ₹1500.00
                                </a>
                            </li>
                            <li class="p-b-6">
                                <a href="/product?minPrice=1500&maxPrice=2000" class="filter-link stext-106 trans-04" data-minprice="1500" data-maxprice="2000">
                                    ₹1500.00 - ₹2000.00
                                </a>
                            </li>
                            <li class="p-b-6">
                                <a href="/product?minPrice=2000&maxPrice=Infinity" class="filter-link stext-106 trans-04" data-minprice="2000" data-maxprice="Infinity">
                                    ₹2000.00+
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="filter-col4 p-b-27">
                       
                        <div class="card-heading">
                            <a data-toggle="collapse" data-target="#collapseTwo">Categories</a>
                        </div>
                        <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="shop__sidebar__brand">
                                    <ul>
                                        <li><a href="/product" >All</a></li>
                                        <% for (let item of category ) { %>
                                            <li><a href="#" class="category-link" data-category-id="<%= item._id %>" data-category-name="<%= item.categoryName %>"><%= item.categoryName %></a></li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
        
       
        <div class="row isotope-grid">
            <% product.forEach((product,index)=>{ %>
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item  category-<%= product.category.categoryName %>">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <% if(product.offer && product.offer.percentage > 0) { %>
                            <div class="discount-badge" style="background-color: #ff5733;
                           color: #f8f8f8;
                            padding: 5px;
                             position: absolute;
                             z-index: 1;
                            width: 74px;">
                               
                                    <span class="stext-103 size-102">
                                        <%= product.offer.percentage %> % OFF
                                    </span>
                                
                            </div>
                            <% } %>
                        <a href="/productDetails?id=<%= product._id %>">
                            <img class="product-image fixed-size" src="/public/adminAssets/assets/images/products/<%= product.images[0] %>" alt="Product Image">
                            <a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                Quick View
                            </a>
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l">
                            <a href="/productDetails?id=<%= product._id %>" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="color: #222;">
                                <%= product.productName %>
                            </a>
                            <% if(product.offer && product.offer.percentage>0){%>
                                <div class="d-flex">
                                <span class="stext-105 cl3 ">
                                    <del>₹<%= product.price %> </del>  
                                </span>
                                <span class="stext-105 cl3 " style="margin-left: 130px;">
                                 <p class="text-danger">   ₹<%= product.discountedPrice %>   </p>
                                </span>
                            </div>
                           <% }else{%>
                            <span class="stext-105 cl3 ">
                                ₹<%= product.price %>  
                            </span>
                          <% }%>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative " data-product-id="<%= product._id %>">
                                <img class="icon-heart1 dis-block trans-04" src="/public/userAssets/images/icons/icon-heart-01.png" alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="/public/userAssets/images/icons/icon-heart-02.png" alt="ICON">
                            </a>
                        </div>
                    </div>
                </div>
            </div><% }) %>
        </div>
        <div class="pagination" style="display: flex; justify-content: center;">
            <% if (currentPage > 1) { %>
                <a href="/product?page=<%= Number(currentPage) - 1 %>" class="page-link">Previous</a>
            <% } %>
        
            <% for (let i = 1; i <= totalPages; i++) { %>
                <a href="/product?page=<%= i %>" class="page-link <%= i === currentPage ? 'active' : '' %>"><%= i %></a>
            <% } %>
        
            <% if (currentPage < totalPages) { %>
                <a href="/product?page=<%= Number(currentPage) + 1 %>" class="page-link">Next</a>
            <% } %>
        </div>
        
    </div>
    
</section>

<!-- Product Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Product Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="product-details">
                    <h3 class="product-name"></h3>
                    <p class="product-category"></p>
                    <p class="product-price"></p>
                    <p class="product-quantity"></p>
                    <p class="product-description"></p>
                    <p class="product-size"></p>
                    <div class="product-images">
                        <!-- Product images will be displayed here -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<style>
    .fixed-size {
        width: 200px;
        height: 200px;
        object-fit: contain;
    }
</style>

<!-- Add this JavaScript code to your EJS template -->
<!-- Add this JavaScript code to your EJS template -->

<!-- ... (your existing code) ... -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const filterLinks = document.querySelectorAll(".filter-link");
        const productContainer = document.querySelector(".isotope-grid");

        filterLinks.forEach(function (link) {
            link.addEventListener("click", function (event) {
                event.preventDefault();

                const minPrice = link.getAttribute("data-minprice");
                const maxPrice = link.getAttribute("data-maxprice");

                fetch(`/filter_by_price?minPrice=${minPrice}&maxPrice=${maxPrice}`)
                    .then((response) => response.json())
                    .then((data) => {
                        productContainer.innerHTML = "";
                        data.products.forEach((product) => {
                            const productElement = createProductElement(product);
                            productContainer.appendChild(productElement);
                        });
                    })
                    .catch((error) => {
                        console.error("Error:", error);
                        Swal.fire('An error occurred while fetching filtered products by price.');
                    });
            });
        });

        function createProductElement(product) {
  const productDiv = document.createElement("div");
  productDiv.className = "col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item category-" + product.category.categoryName;

  const block2 = document.createElement("div");
  block2.className = "block2";
  productDiv.appendChild(block2);

  const block2Pic = document.createElement("div");
  block2Pic.className = "block2-pic hov-img0";
  block2.appendChild(block2Pic);

  if (product.offer && product.offer.percentage > 0) {
    const discountBadge = document.createElement("div");
    discountBadge.className = "discount-badge";
    discountBadge.style = "background-color: #ff5733; color: #f8f8f8; padding: 5px; position: absolute; z-index: 1; width: 74px;";
    discountBadge.innerHTML = `<span class="stext-103 size-102">${product.offer.percentage} % OFF</span>`;
    block2Pic.appendChild(discountBadge);
  }

  const productLink = document.createElement("a");
  productLink.href = `/productDetails?id=${product._id}`;
  block2Pic.appendChild(productLink);

  const productImage = document.createElement("img");
  productImage.className = "product-image fixed-size";
  productImage.src = `/public/adminAssets/assets/images/products/${product.images[0]}`;
  productImage.alt = "Product Image";
  productLink.appendChild(productImage);

  const quickViewLink = document.createElement("a");
  quickViewLink.href = "#";
  quickViewLink.className = "block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1";
  quickViewLink.innerText = "Quick View";
  productLink.appendChild(quickViewLink);

  const block2Txt = document.createElement("div");
  block2Txt.className = "block2-txt flex-w flex-t p-t-14";
  productDiv.appendChild(block2Txt);

  const block2TxtChild1 = document.createElement("div");
  block2TxtChild1.className = "block2-txt-child1 flex-col-l";
  block2Txt.appendChild(block2TxtChild1);

  const productNameLink = document.createElement("a");
  productNameLink.href = `/productDetails?id=${product._id}`;
  productNameLink.className = "stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6";
  productNameLink.style = "color: #222;";
  productNameLink.innerText = product.productName;
  block2TxtChild1.appendChild(productNameLink);

  if (product.offer && product.offer.percentage > 0) {
    const discountDiv = document.createElement("div");
    discountDiv.className = "d-flex";
    block2TxtChild1.appendChild(discountDiv);

    const discountOriginalPrice = document.createElement("span");
    discountOriginalPrice.className = "stext-105 cl3";
    discountOriginalPrice.innerHTML = `<del>₹${product.price}</del>`;
    discountDiv.appendChild(discountOriginalPrice);

    const discountPrice = document.createElement("span");
    discountPrice.className = "stext-105 cl3";
    discountPrice.style = "margin-left: 130px;";
    discountPrice.innerHTML = `<p class="text-danger">₹${product.discountedPrice}</p>`;
    discountDiv.appendChild(discountPrice);
  } else {
    const productPrice = document.createElement("span");
    productPrice.className = "stext-105 cl3";
    productPrice.innerText = `₹${product.price}`;
    block2TxtChild1.appendChild(productPrice);
  }

  const block2TxtChild2 = document.createElement("div");
  block2TxtChild2.className = "block2-txt-child2 flex-r p-t-3";
  block2Txt.appendChild(block2TxtChild2);

  const addWishBtn = document.createElement("a");
  addWishBtn.href = "#";
  addWishBtn.className = "btn-addwish-b2 dis-block pos-relative";
  addWishBtn.dataset.productId = product._id;
  block2TxtChild2.appendChild(addWishBtn);

  const heartIcon1 = document.createElement("img");
  heartIcon1.className = "icon-heart1 dis-block trans-04";
  heartIcon1.src = "/public/userAssets/images/icons/icon-heart-01.png";
  heartIcon1.alt = "ICON";
  addWishBtn.appendChild(heartIcon1);

  const heartIcon2 = document.createElement("img");
  heartIcon2.className = "icon-heart2 dis-block trans-04 ab-t-l";
  heartIcon2.src = "/public/userAssets/images/icons/icon-heart-02.png";
  heartIcon2.alt = "ICON";
  addWishBtn.appendChild(heartIcon2);

  return productDiv;
}
    });
</script>

<!-- ... (your existing code) ... -->


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.querySelector('input[name="search-product"]');

        // Add an event listener for when the user presses Enter in the input field
        searchInput.addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                search();
            }
        });

        // Function to perform the search
        function search() {
            const keyword = searchInput.value;
            if (keyword) {
                // Redirect to the search_product route with the keyword
                window.location.href = `/search_product?keyword=${keyword}`;
            }
            else{
                window.location.href='/product';
            }
        }

        // Function to clear the search
        window.clearSearch = function() {
            // Redirect to the product listing route without search parameters
            window.location.href = '/product';
        };
    });
</script>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Select all wishlist icons
        const wishlistIcons = document.querySelectorAll('.btn-addwish-b2');

        // Add a click event listener to each wishlist icon
        wishlistIcons.forEach(function(icon) {
            icon.addEventListener('click', function(event) {
                event.preventDefault();
                const productId = this.getAttribute('data-product-id');
                addToWishlist(productId);
            });
        });

        function addToWishlist(productId) {
            // Send an AJAX request to add the product to the wishlist
            fetch('/wish_list?id=' + productId, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ productId: productId }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Product added to the wishlist successfully
                    Swal.fire('Product added to your wishlist!');
                } else {
                    // Handle errors or show an error message
                    Swal.fire('Failed to add the product to your wishlist.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                // Show an error message to the user
                Swal.fire('An error occurred while adding the product to your wishlist.');
            });
        }
    });
</script>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const filterButtons = document.querySelectorAll(".filter-button");
        const productItems = document.querySelectorAll(".isotope-item");

        filterButtons.forEach(function(button) {
            button.addEventListener("click", function() {
                const category = button.getAttribute("data-filter");

                productItems.forEach(function(item) {
                    if (category === ".category-*" || item.classList.contains(category.slice(1))) {
                        item.style.display = "block";
                    } else {
                        item.style.display = "none";
                    }
                });
            });
        });

        // Add an event listener for the "All Products" button
        document.querySelector('.filter-button[data-filter=".category-*"]').addEventListener("click", function() {
    filterButtons.forEach(function(button) {
        button.classList.remove('filter-link-active');
    });
    button.classList.add('filter-link-active');

    productItems.forEach(function(item) {
        item.style.display = "block";
    });
});

    });
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const categoryLinks = document.querySelectorAll(".category-link");

        categoryLinks.forEach(function (link) {
        link.addEventListener("click", function (event) {
            event.preventDefault();

            const categoryId = this.getAttribute("data-category-id");

            fetch(`/filter_by_category?categoryId=${categoryId}`)
                .then((response) => response.json())
                .then((data) => {
                    const productContainer = document.querySelector(".isotope-grid");
                    productContainer.innerHTML = "";

                    data.products.forEach((product) => {
                        const productElement = createProductElement(product);
                        productContainer.appendChild(productElement);
                    });
                })
                .catch((error) => {
                    console.error("Error:", error);
                    // Handle errors or show an error message
                });
        });
    });

        // Function to create product elements
        function createProductElement(product) {
  const productDiv = document.createElement("div");
  productDiv.className = "col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item category-" + product.category.categoryName;

  const block2 = document.createElement("div");
  block2.className = "block2";
  productDiv.appendChild(block2);

  const block2Pic = document.createElement("div");
  block2Pic.className = "block2-pic hov-img0";
  block2.appendChild(block2Pic);

  if (product.offer && product.offer.percentage > 0) {
    const discountBadge = document.createElement("div");
    discountBadge.className = "discount-badge";
    discountBadge.style = "background-color: #ff5733; color: #f8f8f8; padding: 5px; position: absolute; z-index: 1; width: 74px;";
    discountBadge.innerHTML = `<span class="stext-103 size-102">${product.offer.percentage} % OFF</span>`;
    block2Pic.appendChild(discountBadge);
  }

  const productLink = document.createElement("a");
  productLink.href = `/productDetails?id=${product._id}`;
  block2Pic.appendChild(productLink);

  const productImage = document.createElement("img");
  productImage.className = "product-image fixed-size";
  productImage.src = `/public/adminAssets/assets/images/products/${product.images[0]}`;
  productImage.alt = "Product Image";
  productLink.appendChild(productImage);

  const quickViewLink = document.createElement("a");
  quickViewLink.href = "#";
  quickViewLink.className = "block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1";
  quickViewLink.innerText = "Quick View";
  productLink.appendChild(quickViewLink);

  const block2Txt = document.createElement("div");
  block2Txt.className = "block2-txt flex-w flex-t p-t-14";
  productDiv.appendChild(block2Txt);

  const block2TxtChild1 = document.createElement("div");
  block2TxtChild1.className = "block2-txt-child1 flex-col-l";
  block2Txt.appendChild(block2TxtChild1);

  const productNameLink = document.createElement("a");
  productNameLink.href = `/productDetails?id=${product._id}`;
  productNameLink.className = "stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6";
  productNameLink.style = "color: #222;";
  productNameLink.innerText = product.productName;
  block2TxtChild1.appendChild(productNameLink);

  if (product.offer && product.offer.percentage > 0) {
    const discountDiv = document.createElement("div");
    discountDiv.className = "d-flex";
    block2TxtChild1.appendChild(discountDiv);

    const discountOriginalPrice = document.createElement("span");
    discountOriginalPrice.className = "stext-105 cl3";
    discountOriginalPrice.innerHTML = `<del>₹${product.price}</del>`;
    discountDiv.appendChild(discountOriginalPrice);

    const discountPrice = document.createElement("span");
    discountPrice.className = "stext-105 cl3";
    discountPrice.style = "margin-left: 130px;";
    discountPrice.innerHTML = `<p class="text-danger">₹${product.discountedPrice}</p>`;
    discountDiv.appendChild(discountPrice);
  } else {
    const productPrice = document.createElement("span");
    productPrice.className = "stext-105 cl3";
    productPrice.innerText = `₹${product.price}`;
    block2TxtChild1.appendChild(productPrice);
  }

  const block2TxtChild2 = document.createElement("div");
  block2TxtChild2.className = "block2-txt-child2 flex-r p-t-3";
  block2Txt.appendChild(block2TxtChild2);

  const addWishBtn = document.createElement("a");
  addWishBtn.href = "#";
  addWishBtn.className = "btn-addwish-b2 dis-block pos-relative";
  addWishBtn.dataset.productId = product._id;
  block2TxtChild2.appendChild(addWishBtn);

  const heartIcon1 = document.createElement("img");
  heartIcon1.className = "icon-heart1 dis-block trans-04";
  heartIcon1.src = "/public/userAssets/images/icons/icon-heart-01.png";
  heartIcon1.alt = "ICON";
  addWishBtn.appendChild(heartIcon1);

  const heartIcon2 = document.createElement("img");
  heartIcon2.className = "icon-heart2 dis-block trans-04 ab-t-l";
  heartIcon2.src = "/public/userAssets/images/icons/icon-heart-02.png";
  heartIcon2.alt = "ICON";
  addWishBtn.appendChild(heartIcon2);

  return productDiv;
}

    });
</script>


<%- include('../userMainlayouts/mainfooter.ejs') %>