	
   <%- include('../userMainlayouts/mainheader.ejs') %> 
   
   <h1>Products List</h1>
   <ul class="products-list">
	 <% product.forEach(function(product) { %>
	   <li class="product-item">
		 <img class="product-image" src="/public/adminAssets/assets/images/products/<%= product.image %>" alt="<%= product.image %>">
		 <div class="product-details">
		   <h3><%= product.productName %></h3>
		   <p class="product-description">Description: <%= product.description %></p>
		   <p class="product-price">Price: $<%= product.price %></p>
		 </div>
	   </li>
	 <% }); %>
   </ul>

    <%- include('../userMainlayouts/mainfooter.ejs') %>
		

